@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
body{
    margin: 0;
    padding: 0;
  background-image: url("../img/bgpic2.jpg");
  background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
  }
  .box{

      width: 300px;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: white;
      margin-top: 80px;
  }
  .box h1{
      float: left;
      font-size: 40px;
      border-bottom: 6px solid #e91e63;
      margin-bottom: 50px;
      padding: 13px 0;
  }
  .inputbox i{
width: 26px;
float: left;
text-align: center;
}

.inputbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom:1px solid #e91e63;
}
.inputbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
